html, body {
  background-color: transparent;
  height: 100%;
  width: 100%; }

html {
  background-color: #635e5e; }

h1, h2, h3, h4, h5, h6, p, li, a, input, button, div {
  font-family: 'Poppins', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: white; }

input:focus {
  outline: none; }

@media (min-width: 991px) {
  body.window-scroll-off {
    overflow: hidden; } }

#wrapper {
  min-height: 100%;
  position: relative;
  /* S Screens */ }
  @media (max-width: 991px) {
    #wrapper {
      padding-bottom: 200px; } }

.background {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: -1000; }
  .background .user-choice {
    height: 100%;
    background: url("../images/backgrounds/space.jpg");
    background-size: cover !important; }
    .background .user-choice img {
      width: 100%;
      display: none; }

.navbar {
  background-color: #635e5e;
  border-radius: 0px;
  border: none;
  height: 70px;
  margin-bottom: 0px; }
  .navbar .navbar-nav > li > a {
    line-height: 40px;
    text-align: center; }
  .navbar a.navbar-brand {
    color: white; }
    .navbar a.navbar-brand img.logo {
      width: 50px;
      display: inline; }
    .navbar a.navbar-brand img.text {
      height: 25px;
      display: inline;
      margin-left: 10px; }
  .navbar li a {
    color: white;
    font-weight: 900; }
  .navbar div.navbar-collapse {
    padding: 0px; }
  .navbar ul.nav {
    position: relative;
    background-color: #635e5e;
    z-index: 400;
    margin: 0;
    padding-top: 0px;
    padding: 0px; }
    .navbar ul.nav li > a:hover, .navbar ul.nav li > a:focus {
      background-color: transparent;
      border-bottom: 4px solid white;
      height: 70px;
      /* XS Screens */ }
      @media (max-width: 768px) {
        .navbar ul.nav li > a:hover, .navbar ul.nav li > a:focus {
          height: auto;
          border: none;
          background-color: rgba(0, 0, 0, 0.19); } }
  .navbar .navbar-header {
    position: relative;
    z-index: 410; }
  .navbar .navbar-toggle {
    border: 2px solid white;
    margin: 13px; }
  .navbar .navbar-toggle .icon-bar {
    background-color: white; }
  .navbar .navbar-collapse {
    z-index: 400;
    position: relative;
    overflow-y: visible; }
  .navbar .user-select-background {
    position: absolute;
    z-index: 400;
    padding: 10px;
    background: rgba(255, 255, 255, 0.89);
    top: 75px;
    left: -20px;
    width: 350px;
    /*XS Screens*/
    /*iPhone 5-ish Screens*/ }
    .navbar .user-select-background .thumb {
      float: left;
      margin: 5px 5px; }
      .navbar .user-select-background .thumb img {
        /*display: inline;*/ }
    @media (max-width: 768px) {
      .navbar .user-select-background {
        position: fixed;
        /*top: 373px;*/
        left: initial;
        width: 100%; } }
    @media (max-width: 350px) {
      .navbar .user-select-background .thumb img {
        width: 90px; } }

.about {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.39);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center; }
  .about.closed {
    /*display: none;*/ }
  .about .about-background {
    width: 100%;
    height: 100%;
    position: absolute; }
  .about .title {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: bold; }
  .about .about-modal {
    width: 600px;
    background-color: white;
    z-index: 550;
    padding: 40px;
    border-radius: 25px;
    max-width: 80%;
    position: relative; }
    .about .about-modal h1, .about .about-modal h2, .about .about-modal h3, .about .about-modal h4, .about .about-modal h5, .about .about-modal h6 {
      color: #635e5e;
      line-height: 1.3; }
    .about .about-modal .exit {
      color: #635e5e;
      position: absolute;
      right: 30px;
      top: 30px; }
    .about .about-modal .logo-text {
      height: 24px; }
    .about .about-modal .logo {
      width: 70px;
      text-align: center;
      display: block;
      margin: 0 auto;
      margin-top: 35px; }

.main-message {
  margin-top: 40px;
  margin-bottom: 50px;
  position: relative;
  z-index: 0; }
  .main-message h1, .main-message h3 {
    color: white;
    text-align: center; }
  .main-message h1 {
    font-size: 4.7rem;
    font-weight: 700; }
  .main-message h3 {
    margin-top: 10px; }
  @media (max-width: 768px) {
    .main-message {
      margin-bottom: 30px; }
      .main-message h1 {
        font-size: 3.5rem;
        text-align: left;
        font-weight: 700; }
      .main-message h3 {
        font-size: 2rem;
        text-align: left;
        margin-top: 20px; } }

.authentication {
  border: 4px solid white;
  color: white;
  border-radius: 10px;
  margin-bottom: 80px; }
  .authentication button {
    width: 100%;
    background-color: transparent;
    border-radius: 0px;
    color: white;
    border: 3px solid white;
    text-transform: uppercase;
    height: 50px;
    font-weight: 900;
    border-radius: 5px; }
    .authentication button:hover, .authentication button:focus {
      color: white;
      background-color: rgba(51, 51, 51, 0.59); }
  .authentication .toggle {
    margin: 0px; }
    .authentication .toggle .pill {
      height: 70px;
      position: relative;
      z-index: 110;
      color: white;
      text-align: center;
      line-height: 70px;
      font-size: 2rem;
      outline: none;
      background-color: rgba(72, 70, 70, 0.46);
      border-bottom: 4px solid white;
      color: #ddd; }
      .authentication .toggle .pill.log-in {
        border-right: 2px solid white; }
        .authentication .toggle .pill.log-in.active {
          color: white;
          border-bottom: none;
          background: transparent; }
      .authentication .toggle .pill.sign-up {
        border-left: 2px solid white;
        font-weight: 100;
        border-top-right-radius: 5px; }
        .authentication .toggle .pill.sign-up.active {
          color: white;
          border-bottom: none;
          background: transparent; }
  .authentication .alert.alert-danger {
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: -15px; }
    .authentication .alert.alert-danger .message {
      text-align: center;
      color: #a94442; }
  .authentication .authentication-form {
    padding: 50px; }
    .authentication .authentication-form form {
      margin-bottom: 20px; }
    .authentication .authentication-form input {
      height: 50px;
      color: black;
      outline: none;
      border-radius: 5px; }

.todos {
  margin-top: 30px; }

.list-task {
  overflow: hidden;
  position: relative; }
  .list-task .window {
    overflow-y: scroll;
    max-height: 50vh;
    padding-right: 17px;
    width: 100%;
    box-sizing: content-box; }
  .list-task .scroll-indicator {
    color: white;
    text-align: center;
    display: block;
    margin-bottom: 20px;
    font-size: 4rem;
    position: absolute;
    width: 97%; }
    .list-task .scroll-indicator.top {
      color: #635e5e;
      background: linear-gradient(0deg, transparent, white); }
    .list-task .scroll-indicator.bottom {
      color: #635e5e;
      background: linear-gradient(0deg, white, transparent);
      bottom: 0px;
      margin: 0px; }

.task {
  color: white;
  border: 4px solid white;
  border-radius: 50px;
  padding: 20px;
  margin-bottom: 20px;
  border-width: 0px;
  background-color: rgba(255, 255, 255, 0.75);
  color: #635e5e; }
  .task.table {
    display: table; }
    .task.table .table-cell {
      display: table-cell;
      vertical-align: middle;
      background-color: transparent; }
  .task.isDone {
    color: rgba(255, 255, 255, 0.75);
    background-color: rgba(175, 175, 175, 0.7); }
    .task.isDone .display-content {
      color: rgba(255, 255, 255, 0.75);
      text-decoration: line-through; }
  .task .display-todo {
    width: 100%;
    max-width: 100px;
    cursor: pointer; }
    .task .display-todo:focus {
      outline: none; }
    .task .display-todo .display-content {
      font-size: 1.8rem;
      color: #635e5e;
      outline: none;
      display: inline-block;
      margin-bottom: 0px;
      overflow: hidden;
      white-space: nowrap;
      padding-left: 12px;
      overflow: hidden;
      vertical-align: middle;
      max-width: 70%;
      width: 70%; }
      .task .display-todo .display-content:focus {
        outline: none; }
      .task .display-todo .display-content.no-date {
        max-width: 96%;
        width: 96%; }
    .task .display-todo .display-date {
      display: inline-block;
      width: 28%;
      text-align: right;
      color: grey;
      margin-bottom: 0px;
      padding-right: 10px;
      text-align: right;
      vertical-align: middle; }
      .task .display-todo .display-date.no-date {
        display: none; }
    @media (max-width: 450px) {
      .task .display-todo .display-date {
        width: 40%; }
      .task .display-todo .display-content {
        width: 58%; } }
  .task .update-todo {
    width: 100%; }
    .task .update-todo input.update-content {
      width: 66%;
      background-color: transparent;
      border: 2px solid grey;
      margin-left: 2%;
      padding-left: 9px;
      font-size: 1.5rem;
      font-weight: 500; }
    .task .update-todo input.update-date {
      width: 28%;
      background-color: transparent;
      text-align: right;
      border: 2px solid grey;
      padding-right: 9px;
      margin-right: 2%;
      font-size: 1.5rem;
      font-weight: 500; }
    .task .update-todo datepicker {
      width: auto !important;
      float: none; }
      .task .update-todo datepicker.calendar-above ._720kb-datepicker-calendar {
        left: -190px;
        bottom: -55px;
        top: auto; }
      .task .update-todo datepicker select {
        background-color: #635e5e;
        border: 1px solid white; }
      .task .update-todo datepicker ._720kb-datepicker-calendar {
        left: -113px;
        top: 24px; }
      .task .update-todo datepicker ._720kb-datepicker-calendar-days-header {
        background: rgba(255, 255, 255, 0.75); }
      .task .update-todo datepicker ._720kb-datepicker-calendar-header {
        background: #635e5e; }
      .task .update-todo datepicker ._720kb-datepicker-calendar-month span {
        color: white; }
      .task .update-todo datepicker ._720kb-datepicker-calendar-day {
        color: #635e5e; }
        .task .update-todo datepicker ._720kb-datepicker-calendar-day:hover {
          color: black; }
    .task .update-todo .update-save {
      width: 95%;
      height: 27px;
      color: grey;
      margin-top: 10px;
      margin: 10px auto;
      display: block;
      background-color: transparent;
      border: 2px solid grey;
      font-weight: 500;
      margin-bottom: 0px; }
  .task input {
    color: #635e5e; }
  .task .task-checker {
    font-size: 2.2rem;
    border-radius: 100%; }
    .task .task-checker:hover {
      font-weight: 900; }
  .task .task-delete {
    /*float: right;*/
    font-size: 2rem; }

.create-task {
  margin-top: 30px;
  position: relative;
  color: white; }
  .create-task input {
    width: 100%;
    height: 70px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 3rem;
    border-bottom: 4px solid white;
    padding-left: 20px;
    border-radius: 0px;
    position: relative;
    z-index: 100; }
  .create-task input::placeholder {
    color: rgba(255, 255, 255, 0.85);
    color: white; }
  .create-task .task-adder {
    position: absolute;
    top: 7%;
    right: 0%;
    font-size: 2rem;
    z-index: 110;
    padding: 20px; }

.dashboard {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.79);
  padding: 30px;
  border-radius: 30px;
  margin-bottom: 30px; }
  .dashboard h1, .dashboard h2, .dashboard h3, .dashboard h4, .dashboard h5, .dashboard h6 {
    color: #635e5e; }
  .dashboard .status {
    margin-top: 5px; }
  .dashboard .date {
    margin-bottom: 7px; }
  .dashboard .time {
    margin-top: 0px;
    margin-bottom: 18px; }
  .dashboard .name {
    font-weight: 600; }
  .dashboard .digit {
    font-weight: 900; }
  @media (max-width: 768px) {
    .dashboard .name {
      font-size: 3rem; }
    .dashboard .date {
      font-size: 2.2rem; }
    .dashboard .time {
      font-size: 2.2rem; }
    .dashboard .status {
      font-size: 2rem; } }

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.7);
  /*height: 50px;*/
  align-items: center;
  line-height: 50px; }
  @media (max-width: 350px) {
    footer {
      font-size: 11px; } }
  footer p {
    color: #635e5e;
    margin: 0px;
    margin: 0px;
    height: 50px;
    color: #a5a5a5;
    text-align: center; }
    footer p.name {
      height: auto; }
    footer p a.name {
      display: inline;
      /*margin-left: 5px;*/ }
  footer a {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    display: inline-block;
    font-weight: 700; }
    footer a:hover {
      color: white;
      text-decoration: none; }
    footer a:focus {
      color: white;
      /*text-decoration: underline;*/ }

.breakpoints {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none; }
  .breakpoints div {
    height: 100%;
    width: 2px;
    position: absolute; }
    .breakpoints div.small {
      left: 768px;
      background-color: aqua; }
    .breakpoints div.medium {
      left: 992px;
      background-color: crimson; }
    .breakpoints div.large {
      background-color: rebeccapurple;
      left: 1200px; }

/*# sourceMappingURL=style.css.map */
