$darkfont: #635e5e;
$transwhite: rgba(255, 255, 255, 0.75);
$transgrey: rgba(175, 175, 175, 0.70);
$transblack: rgba(50, 50, 50, 0.50);

html, body {
	background-color: transparent;
	height: 100%;
	width: 100%;
}


h1, h2, h3, h4, h5, h6, p, li, a, input, button {
	font-family: 'Overpass', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	color: white;
}

input:focus {
	outline: none;
}

canvas {
/*	width: 100%;
	height: 100%;*/
	/*background-color: #eee;*/
	/*background-color: slategrey;*/
	position: absolute;
	z-index: -1000;
	display: none;
}

body {
	&.window-scroll-off {
		overflow: hidden;
	}
}

#wrapper {
	min-height: 100%;
	position: relative;
	

	/* SS Screens */
    @media (max-width: 991px) {	 
    	padding-bottom: 200px;
	}
}


.navbar {

	div.navbar-collapse {
		padding: 0px;
	}

	ul.nav {
		position: relative;
		background-color: $darkfont;
	    z-index: 400;
	    margin: 0;
	    padding-top: 0px;
	    padding: 0px;

	    li > a {

	    	&:hover, &:focus {
		    background-color: transparent;
		    border-bottom: 4px solid white;
		    height: 70px;

			    /* XS Screens */
			    @media (max-width: 768px) {	 
			    	height: auto;
			    	border: none;
				    background-color: rgba(0, 0, 0, 0.19);
				}
			}

		}

	}

	.navbar-toggle {
		border: 2px solid white;
		margin: 13px;
	}

	.navbar-toggle .icon-bar {
	    background-color: white;
	}

	.user-select-background {
	    position: absolute;
	    z-index: 400;
	    padding: 10px;
	    background: rgba(255, 255, 255, 0.89);
	    top: 75px;
	    left: -20px;
	    width: 350px;

	    /*XS Screens*/
	    @media (max-width: 768px) {	  
			position: fixed;
		    /*top: 373px;*/
		    left: initial;
		    width: 100%;
		}
	

		
		.thumb {
			float: left;
	    	margin: 5px 5px;

	    	img {
	    		/*display: inline;*/
	    	}
		}
	}
}

.navbar {
	background-color: #635e5e;
	border-radius: 0px;
    border: none;
    height: 70px;
    margin-bottom: 0px;

    .navbar-nav>li>a {
    	line-height: 40px;
    	text-align: center;
    }

    a.navbar-brand {
		color: white;
			
		img {

			&.logo {
			width: 50px;
		    display: inline;
			}
		

    		&.text {
    			height: 25px;
			    display: inline;
			    margin-left: 10px;
    		}
    	}
    }

	li {
		a {
			color: white;
			font-weight: 900;
		}
	}
}


.background {
	position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -1000;

    .user-choice {
    	height: 100%;
	    background: url('../images/backgrounds/space.jpg');
	    background-size: cover;

    	img {
    		width: 100%;
    		display: none;
    	}
    }
}

.about {
	width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.39);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
    display: flex;
    align-items: center;
    justify-content: center;



    &.closed {
    	/*display: none;*/
    }

    .about-background {
    	width: 100%;
	    height: 100%;
	    position: absolute;
    }

    .title {
    	text-align: center;
	    margin-top: 0px;
	    margin-bottom: 20px;
	    font-weight: bold;
    }

	.about-modal {
	    width: 600px;
	    background-color: white;
	    z-index: 550;
	    padding: 40px;
	    border-radius: 25px;
	    max-width: 80%;
	    position: relative;

	    h1, h2, h3, h4, h5, h6 {
	    	color: $darkfont;
	    	line-height: 1.3;
	    }

	    .exit {
	    	color: $darkfont;
	    	position: absolute;
		    right: 30px;
		    top: 30px;

	    }

	    .logo {
	    	width: 70px;
		    text-align: center;
		    display: block;
		    margin: 0 auto;
		    margin-top: 35px;

	    }
	}
}


.main-message {
	margin-top: 40px;
	margin-bottom: 50px;
	h1, h3 {
		color: white;
		text-align: center;
		
	}
	h1 {
		font-size: 4.7rem;
	}
	h3 {
		margin-top: 10px;
	}
}


.login.wrapper {
	background-color: rgba(0, 188, 212, 0.78);;
	padding: 50px;
	margin-top: 130px;
	color: white;
}

.authentication {
	
	
	border: 4px solid white;
    color: white;
    border-radius: 10px;
    margin-bottom: 80px;
    

    	 button {
	    	width: 100%;
		    background-color: transparent;
		    border-radius: 0px;
		    color: white;
		    border: 3px solid white;
		    font-family: 'Overpass';
		    text-transform: uppercase;
		    height: 50px;
		    font-weight: 900;
		    border-radius: 5px;

		    &:hover {
		    	color: white;
    			background-color: rgba(51, 51, 51, 0.59);
		    }
	    }

    .toggle {
    	margin: 0px;

		.pill {
		
		    height: 70px;
		    position: relative;
		    z-index: 110;
		    color: white;
		    font-family: 'Overpass';
		    text-align: center;
		    line-height: 70px;
		    font-size: 2rem;
		    outline: none;

		    background-color: rgba(72, 70, 70, 0.46);
		    border-bottom: 4px solid white;
		    color: #ddd;

	    	&.log-in {
	    		border-right: 2px solid white;	

	    		&.active {
	    			color: white;
	    			border-bottom: none;
	    			background: transparent;
	    		}

	    	}

	    	&.sign-up {
	    		border-left: 2px solid white;	
			    font-weight: 100;
			    border-top-right-radius: 5px; 

			    &.active {
			    	color: white;
			    	border-bottom: none;
			    	background: transparent;
	    		}
	    	}
		}
	}


	.authentication-form {
		padding: 50px;
		
		form {
			margin-bottom: 20px;
		}

	    input {
	    	    height: 50px;
	    	
		    font-family: 'Overpass';
		    color: black;
		    outline: none;
		    border-radius: 5px;
			}
	    
	}
}

.todos {
	margin-top: 30px;
}

.list-task {

	max-height: 500px;
    overflow: hidden;
    position: relative;

    .window {
    	overflow-y: scroll;
	    height: 100%;
	    max-height: 500px;
	    padding-right: 17px;
	    width: 100%;
	    box-sizing: content-box;
    }

	.scroll-indicator {
		color: white;
	    text-align: center;
	    display: block;
	    margin-bottom: 20px;
	    font-size: 4rem;
	    position: absolute;
    	width: 97%;

	    &.top {
		    color: $darkfont;
   		 	background: linear-gradient(0deg, transparent, white);
	    }

	    &.bottom {
	    	color: $darkfont;
   		 	background: linear-gradient(0deg, white, transparent);
   		 	bottom: 0px;
    		margin: 0px;
	    }
	}
}




.task {
	color: white;
	border: 4px solid white;
    border-radius: 50px;
    padding: 20px;
    margin-bottom: 20px;
    border-width: 0px;
    background-color: $transwhite;
    color: $darkfont;

    &.table {
    	display: table;

    	.table-cell {
    		display: table-cell;
    		vertical-align: middle;
    		background-color: transparent;
    	}
    }

    &.isDone {
		color: $transwhite;
		background-color: $transgrey;
		.display-content {
			color: $transwhite;
			    text-decoration: line-through;
		}
	}

    .display-todo {

    	width: 100%;
    	max-width: 100px;
    	cursor: pointer;

    	&:focus {
    		outline: none;
    	}

    	.display-content {

			font-size: 1.8rem;
	    	color: $darkfont;
	    	outline: none;
	    	display: inline-block;
		    margin-bottom: 0px;
		    overflow: hidden;
		    white-space: nowrap;
		    padding-left: 12px;
		    overflow: hidden;
		    vertical-align: middle;
		    max-width: 70%;
		    width: 70%;

		    &:focus {
		    	outline: none;
		    }

		    &.no-date {
		    	max-width: 96%
		    }
		
	    }

	    .display-date {

	    	display: inline-block;
		    width: 28%;
		    text-align: right;
		    color: grey;
		    margin-bottom: 0px;
		    padding-right: 10px;
		    text-align: right;
		    vertical-align: middle;

		    &.no-date {
		    	display: none;
		    }

	    }

    }

    .update-todo {
    	width: 100%;

    	input.update-content {
    		width: 66%;
		    background-color: transparent;
		    border: 2px solid grey;
		    margin-left: 2%;
		    padding-left: 9px;
		    font-size: 1.5rem;
		    font-weight: 500;
    	}

    	input.update-date {
    		width: 28%;
		    background-color: transparent;
		    text-align: right;
		    border: 2px solid grey;
		    padding-right: 9px;
		    margin-right: 2%;
		    font-size: 1.5rem;
		    font-weight: 500;
    	}

    	datepicker {
			width: auto !important;
			float: none;

			&.calendar-above {

				._720kb-datepicker-calendar {
					left: -190px;
	    			bottom: -55px;
	    			top: auto;
	    		}
			}
			
			._720kb-datepicker-calendar {
				left: -113px;
    			top: 24px;
			}	

			._720kb-datepicker-calendar-days-header {
				background: $transwhite;
			}

			._720kb-datepicker-calendar-header {
				background: $darkfont;
			}

			._720kb-datepicker-calendar-month span {
				color: white;
			}

		} 

		.update-save {
			width: 95%;
		    height: 27px;
		    color: grey;
		    margin-top: 10px;
		    margin: 10px auto;
		    display: block;
		    background-color: transparent;
		    border: 2px solid grey;
		    font-weight: 500;
		    margin-bottom: 0px;
		}

    }

    input {
    	color: $darkfont;
    }

    
    

	.task-checker {
		font-size: 2.2rem;
		border-radius: 100%;

		&:hover {
			font-weight: 900;
		}
	}

	.task-delete {
		/*float: right;*/
		font-size: 2rem;
	}

}

.create-task {
	margin-top: 30px;
	position: relative;
	color: white;
	input {
		width: 100%;
	    height: 70px;
	    background-color: transparent;
	    border: none;
	    color: white;
	    font-size: 3rem;
	    border-bottom: 4px solid white;
	    padding-left: 20px;
	}

	input::placeholder {
		color: rgba(255, 255, 255, 0.85);
		color: white;
	}

	.task-adder {
		position: absolute;
	    top: 36%;
	    right: 3%;
	    font-size: 2rem;

	}
}

.dashboard {
	background-color: white;
	background-color: rgba(255, 255, 255, 0.79);
	padding: 30px;
	border-radius: 30px;
	margin-bottom: 30px;

	h1, h2, h3, h4, h5, h6 {
		color: #635e5e;
	}

	.status {
		margin-top: 5px;
	}

	.date {
		margin-bottom: 7px;
	}

	.time {
		margin-top: 0px;
		margin-bottom: 18px;
	}

	.name {
		font-weight: 600;
	}

	.digit {
		font-weight: 900;
	}
}


footer {
	position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.7);
    /*height: 50px;*/
    align-items: center;
    line-height: 50px;

    
    
    p {
    	color: $darkfont;
    	margin: 0px;
    	margin: 0px;
    	height: 50px;
    	color: #a5a5a5;
    	text-align: center;

    	a.name {
    		display: inline;
    		/*margin-left: 5px;*/
    	}
    }

    a {
    	margin: 0 auto;
	    width: 100%;
	    text-align: center;
	    display: inline-block;
	    font-weight: 700;

    	&:hover {
    		color: white;
    		text-decoration: none;
    	}
    	&:focus {
    		color: white;
    		/*text-decoration: underline;*/
    	}
    }
}



.breakpoints {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
	
	div {
	    height: 100%;
	    width: 2px;
	    position: absolute;

		&.small {
		    left: 768px;
		    background-color: aqua;
		}

		&.medium {
		    left: 992px;
		    background-color: crimson;
		}

		&.large {
		    background-color: rebeccapurple;
		    left: 1200px;
		}
	}
}




/*.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}*/


