<!DOCTYPE html>
<html ng-app='ydyApp'>

<head>
  <title>YouDoYou</title>
  <!-- jQuery -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script src='js/jquery-ui.js'></script>
  
  <link href="https://fonts.googleapis.com/css?family=Overpass:300,400,700" rel="stylesheet">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- Include Angular App -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>


  <script src='js/angular-datepicker.js'></script>
  <script src="app.js"></script>

  <!-- Stylesheet -->
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/jquery-ui.css" />
  <link rel="stylesheet" href="css/angular-datepicker.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

</head>

<body ng-controller='mainController' ng-class="{ 'window-scroll-off' : windowScroll.off }">
  <div id="wrapper">

    <!-- 
            /* (GH) Extra extra small devices (portrait) (phones, less than 480px) */
            
            /* Extra small devices (phones, less than 768px) */

            /* Small devices (tablets, 768px and up) */

            /* Medium devices (desktops, 992px and up) */

            /* Large devices (large desktops, 1200px and up) */
        -->
  <div class="breakpoints">
    <div class="small"></div>
    <div class="medium"></div>
    <div class="large"></div>
  </div>

  <div class="background" ng-controller='backgroundController'>
    <div class="user-choice"></div>
    <video autoplay loop class="fillWidth">
      <source src="videos/Keep_Running.mp4" type="video/mp4" /> Your browser does not support the video tag. I suggest you upgrade your browser.
      <source src="videos/Keep_Running.webm" type="video/webm" /> Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
    <div class="poster hidden">
      <img src="videos/Keep_Running.jpg" alt="">
    </div>

  </div>


  <nav class="navbar">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button 
          type="button" 
          class="navbar-toggle collapsed" 
          data-toggle="collapse" 
          data-target="#bs-example-navbar-collapse-1" 
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img class="logo" src="images/logo-white.png" /> <img class="text" src="images/logo-text-white.png">
          </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


        <ul class="nav navbar-nav navbar-right">

          <li><a href="" ng-click="openAbout()">About</a></li>
          <li><a href="#/todos">Todos</a>
          <li><a href="#">Login</a>
          </li>
          <li><a href="#">Logout</a></li>
          <li 
            ng-click="toggleBackgroundMenu()"><a><i class="fa fa-paint-brush" aria-hidden="true"></i></a></li>
          <div 
            ng-show="backgroundMenu.open"
            class="user-select-background ng-hide"
            ng-mouseleave="closeBackgroundMenu()">
              <div class="thumb" ng-repeat="img in images">
                <img ng-click="changeBackgroundImage($index)" src="{{ img.thumb }}">
              </div>
          </div>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <div 
    class="about ng-hide"
    ng-show="about.open">
    <div class="about-background" ng-click="closeAbout($event)"></div>
    <div class="about-modal">

      <i 
        class="fa fa-times exit" 
        aria-hidden="true"
        ng-click="closeAbout()"></i>

      <h2 class="title">About</h2>

      <h4><img src="images/logo-text-grey.png"> is a simple todo app that I built to practice my skills on the MEAN stack.
      The app is built with <b>AngularJS</b> and <b>Bootstrap</b> on the frontend, and <b>Node</b>, <b>Express</b> and <b>Mongo</b> on the backend. I used <b>Passport</b> to implement the authentication.
      </h4>

      <h4>
      The app has many of the standard todo featuers: you can add and remove tasks, assign due dates,
      and view your status with a glance. The app is also fully responsive. It serves as a good starting point
      for a more robust todo project sometime in the future.
      </h4>
      <img class="logo" src="images/logo-grey.png" />
  </div>
</div>



  <ng-view></ng-view>

  <footer>
    <div class="container">
      <div class="row">
          
          <div class="col-xs-12 col-sm-6 col-md-3"><p class="">YouDoYou. &#169; 2017.</p></div>
          <div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-4"><p class="">Designed and Developed by <a target="_blank" href="http://www.greerhanshaw.com" class="name">  Greer Hanshaw</a></p></div>
          <div class="col-xs-offset-3 col-xs-3 col-sm-offset-0 col-sm-6 col-md-2"><p class=""><a target="_blank" href="https://www.linkedin.com/in/greer-hanshaw">LinkedIn</a></p></div>
              
          <div class="col-xs-3 col-sm-6 col-md-2"><p class=""><a target="_blank" href="https://github.com/ghanshaw">Github</a></p></div>

      </div>
    </div>      
  </footer>
  </div>
</body>

</html>


<!--   <canvas id='background'></canvas>
      <div class="homepage-hero-module">
         <div class="video-container">
            <div class="filter"></div>
            <video autoplay loop class="fillWidth">
               <source src="videos/Keep_Running.mp4" type="video/mp4" />
               Your browser does not support the video tag. I suggest you upgrade your browser.
               <source src="videos/Keep_Running.webm" type="video/webm" />
               Your browser does not support the video tag. I suggest you upgrade your browser.
            </video>
            <div class="poster hidden">
               <img src="videos/Keep_Running.jpg" alt="">
            </div> -->