<div class="container">
  <h4>YouDoYou is a simply todo app that I build to practice my skills as on the MEAN stack.
  The app is built with AngularjJS on the front end, and Express, Node, and Mongo on the backend. 
  I used Passport to implement the authentication.
  </h4>

  <h4>
  The app has many of the standard todo featuers: you can add and remove tasks, assign due dates,
  and view your status with a glance. The app is also fully responsive. It serves as a good starting point
  for a more robust todo project sometime in the future.
  </h4>
</div>